<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="wx_password_entry">
		<size>369,312</size>
		<minsize>-1,-1</minsize>
		<maxsize>-1,-1</maxsize>
		<id_arg>0</id_arg>
		<object class="wxGridSizer" subclass="wxGridSizer" variable="grdszrPasswordEntry" member="yes">
			<cols>2</cols>
			<rows>8</rows>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_NAME" variable="lbl_name" member="yes">
					<label>Name</label>
					<size>50,-1</size>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_NAME" variable="txt_name" member="yes">
					<value>name</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>2</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_DESC" variable="lbl_description" member="yes">
					<label>Description</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_DESC" variable="txt_description" member="yes">
					<value>description</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_URL" variable="lbl_login_url" member="yes">
					<label>Login url</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_URL" variable="txt_login_url" member="yes">
					<value>login__url</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_EMAIL" variable="lbl_email" member="yes">
					<label>Email</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_EMAIL" variable="txt_email" member="yes">
					<value>email</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_USERNAME" variable="lbl_username" member="yes">
					<label>Username</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_USERNAME" variable="txt_username" member="yes">
					<value>username</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_PASSWORD" variable="lbl_password" member="yes">
					<label>Password</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_PASSWORD" variable="txt_password" member="yes">
					<value>password</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_PWD_HNT" variable="lbl_password_hint" member="yes">
					<label>Password hint</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_PSW_HNT" variable="txt_password_hint" member="yes">
					<value>password hint</value>
					<size>260,-1</size>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_LBL_EMPTY" variable="lbl_empty" member="yes">
					<label></label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="std_dlg_button_sizer" member="yes">
					<object class="button">
						<object class="wxButton" name="wxID_SAVE">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
