<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="wx_password_list">
		<title>Password list</title>
		<centered>1</centered>
		<size>460,292</size>
		<minsize>400,400</minsize>
		<id_arg>0</id_arg>
		<style>wxSTAY_ON_TOP|wxDEFAULT_DIALOG_STYLE|wxSYSTEM_MENU</style>
		<object class="wxBoxSizer" variable="pwlMainBoxSizer" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxListBox" name="ID_LST_PASSWORD_LIST" variable="lstPasswordList" member="yes">
					<content>
						<item>1 password_1 username:x password:y target:whatever</item>
						<item>2 password_2 username:y password:x target:other_whatever</item>
					</content>
					<default>-1</default>
					<size>450,199</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="pwlListButtonSizer" member="yes">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_REFRESH_PWD_LIST" variable="btnRefreshPasswordList" member="yes">
							<label>Refresh</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_ADD_PWD_ENTRY" variable="btnAddPasswordEntry" member="yes">
							<label>Add</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_EDIT_PWD_ENTRY" variable="btnEditPasswordEntry" member="yes">
							<label>Edit</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_PWD_ENTRY_DELETE" variable="btnDeletePasswordEntry" member="yes">
							<label>Delete</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
